MODELSCOPE_API_KEY=
TEXT_MODEL=ZhipuAI/GLM-5.1
CRON_EXPRESSION=0 9 * * *
MAX_ARTICLES_PER_RUN=2
REWRITE_MAX_ROUNDS=1
MEMORY_ENABLED=true
DUPLICATE_SIMILARITY_THRESHOLD=0.55
MEMORY_LOOKBACK_DAYS=30
FEEDBACK_ENABLED=true